<section class="welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-9 col-lg-8">
        <h2>Hello!</h2>
        <p>
          Thank you for taking the time to review my temporary portfolio.
          Below are a few examples of my recent projects as well as a link to my previous portfolio.
        </p>

        <p>
          Feel free to contact me any time if you have any questions.
        </p>

        <p>
          <strong>Email:</strong>
          harrisonwallin@gmail.com<br />
        </p>
      </div>
    </div>
  </div>
</section>
